---
import Background from "../components/Background.astro";
import Layout from "../components/Layout.astro";
import Social from "../components/Social.astro";
import { Image } from "astro:assets";

import domekImg from "../images/domek.jpg";
import domekLogoImg from "../images/raszowka-logo.png";
import kwiatLnuImg from "../images/kwat-lnu.jpeg";

import bookingIcon from "../images/booking.svg";
import facebookIcon from "../images/facebook.svg";
import instagramIcon from "../images/instagram.svg";
---

<Layout title="Domek Raszówka">
  <main>
    <Background />
    <div id="content">
      <div class="header">
        <div class="title">
          <Image
            src={domekLogoImg}
            alt="Domek Raszówka - Raszów 1 w Karkonoszach - logo"
            width={350}
          />
          <h1>Domek Raszówka</h1>
        </div>

        <h2>
          Zapraszamy do naszego urokliwego domku w Raszowie, położonego w sercu
          Karkonoszy, gdzie natura spotyka się z komfortem.
        </h2>
        <div class="socials">
          <Social
            href="https://www.facebook.com/profile.php?id=100093296918860"
            title="facebook"
            icon={facebookIcon}
          />
          <Social href="#" title="booking" icon={bookingIcon} />
          <Social href="#" title="instagram" icon={instagramIcon} />
        </div>
        <div class="logo">
          <Image
            src={domekImg}
            alt="Domek Raszówka - Raszów 1 w Karkonoszach - zdjęcie domku"
            width={800}
            quality={75}
            loading="eager"
          />
        </div>
        <h3 style="font-weight: 400;">
          Idealne miejsce na wypoczynek, oferujące spokój i bliskość górskich
          atrakcji.
        </h3>
      </div>

      <div class="credits">
        <Image
          src={kwiatLnuImg}
          alt="Domek Raszówka - Raszów 1 w Karkonoszach - logo"
          width={kwiatLnuImg.width}
        />
      </div>
    </div>
  </main>
</Layout>
